#use{
    align-content:left;
    padding-right:16%;
    font-family:itc Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    

    }
.back{
    border: none;
    
    margin-top: 41px;
}
.use-1{
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #FD5E53;
    margin-top: 47px;
    margin-bottom: 12px;
    margin-left: 9%;
}
.use-2{
    font-size: 16px;
    line-height: 21px;
    color: #424551;
    margin-bottom: 30px;
    margin-right: 9%;
    margin-left: 9%;
}
.use-3{
width: 100%;
    height: 72px;
    background: #ECECEC;
    border-radius: 2px;
    margin-bottom: 15px;
    text-align: center;
   
    padding-top: 17px;
    margin-left: 9%;
}
.use-3-1{
    font-weight: 600;
    font-size: 13.5px;
    line-height: 20px;
    color: #424551;
    text-align: center;
    background: #ECECEC;
}
.use-3-2{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #424551;
    opacity: 0.6;
    background: #ECECEC;
}